/* 
Name: Ryan Marin
Student ID: 914338604
Course: IST 256 – Programming for the Web
Assignment: CSS-Enhanced Portfolio
Description: Primary external stylesheet

TABLE OF CONTENTS
1. Reset & Global Rules
2. 
3. 
4. 
5. 
6. 
7. 
8. 
9. 
10. 
11. 
12.
13.
14. 
*/

/* 1. Reset & Global Rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* 2. CSS Custom Properties */
:root {
    /* Colors */
    --color-primary: #1f2933;
    --color-secondary: #4b5563;
    --color-accent: #3b82f6;
    --color-neutral-light: #f4f4f4;
    --color-neutral-dark: #111827;
    --color-success: #16a34a;
    --color-warning: #f59e0b;
    --color-danger: #dc2626;

    /* Typography */
    --font-primary: 'Arial', Helvetica, sans-serif;
    --font-mono: 'Courier New', monospace;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

     /* Border Radius */
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 12px;
    --radius-round: 50%;
}